.contentHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.contentHeader h1 {
  font-size: 24px;
  font-weight: bold;
}

.breadcrumb {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.breadcrumb li {
  font-size: 16px;
  margin-right: 5px;
}

.breadcrumb li a {
  color: #777;
  text-decoration: none;
  transition: color 0.2s;
}

.breadcrumb li.active {
  font-weight: bold;
  color: #000;
}

.breadcrumb li:not(:last-child):after {
  content: "/";
  margin-left: 5px;
  color: #777;
}
