.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3c8dbc;
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
}

.logo {
  margin-left: 10px;
}

.logout {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.logout button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #007bff;
  font-size: 16px;
  font-weight: bold;
}
